<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="description" content="This page is a Movie Recommendation System created by Praveen Kumar, an AI Engineer & Software Developer based in Bangalore. Search for movies using the autocomplete input field, and get great movie suggestions.">
    <meta name="keywords" content="Praveen Kumar, Portfolio, Hitchhikers Guide to Deep Learning, Computer Vision Engineer, Trellissoft, Research, Praveen-kumar,Praveen Kumar linkedin, Praveen Kumar github, Inbox praveen, inbox praveen kumar, praveen kumar twitter, inbox praveen twitter, praveen kumar medium, inbox praveen medium, Movie Recommendation System, AI Engineer, Software Developer, autocomplete, movie suggestions, Recommendation system">
    <meta name="author" content="Praveen Kumar" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Praveen Kumar">
    <meta name="twitter:site" content="@inboxpraveen">
    <meta name="twitter:title" content="Movie Recommendation System">
    <meta name="twitter:creator" content="@inboxpraveen">

    <meta property="og:title" content="Movie Recommendation System">
    <meta property="og:description" content="This page is a Movie Recommendation System created by Praveen Kumar, an AI Engineer & Software Developer based in Bangalore. Search for movies using the autocomplete input field, and get great movie suggestions.">
    <meta property="og:image" content="{{ url_for('static', filename='img/hero_3.png') }}">
    <meta property="og:url" content="https://inboxpraveen.github.io/">

    <!-- Add your CSS and JS files here using url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultsnavbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultspage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typ.css') }}" type="text/css">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>